%html
	%head
		%title Our Awesome Haml Template
		%script{:type => "text/javascript",
				:src  => "javascripts/script_#{2 + 7}"}
	%body 
		%h1 Abstracting HTML since 2006
		%p Test Haml
		%ul 
			%li test
			%li test2
		#content
			%h1 test 3
	
	%p Heure compilation : #{Time.now}
	#test.rouge test rouge